.text-center{
    margin: 50px;
    color: #555;
}
.Main{
    width:600px;
    margin: 100px auto;
}

.Edit{
    width: 300px;
    margin: 50px auto;
}

.btn:not(:disabled):not(.disabled){
    margin: 0%;
}
.Add-btn{
    margin: 40px 120px 60px 400px;
}

.Add {
    width: 300px;
    margin: 100px auto;
}